<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-brand"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
                <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Registration</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
            {% else %}
                <li><a class="nav-link" href="{% url 'user_login' %}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body_block%}


        {% endblock %}
    </div>

</body>
</html>